# Node.js
backend/node_modules/
backend/.env
backend/package-lock.json

# Frontend (si tu as un build)
frontend/dist/
frontend/node_modules/

# Logs
*.log

# Système
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
